<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Albert Einstein</title>
</head>
<body>
<h1>Альбер Эйнштейн</h1>
<div><img src="https://i.pinimg.com/originals/d0/c7/58/d0c758d3cc8a7400692478a314687ec3.jpg"></div>
<div><b>Альберт Эйнштейн (1879-1955)</b> - <a href="https://ru.wikipedia.org/wiki/%D0%AD%D0%B9%D0%BD%D1%88%D1%82%D0%B5%D0%B9%D0%BD,_%D0%90%D0%BB%D1%8C%D0%B1%D0%B5%D1%80%D1%82">физик-теоретик</a>, создатель теории относительности, перевернувшей представления о мире. </div>
<div>Невероятно, но факт: Эйнштейн впервые заговорил, когда ему исполнилось 8 лет! А когда Альберту было 12, он самостоятельно изучил книгу по евклидовой геометрии. - <mark><i>и это все вранье!!! </i></mark></br>
Эйнштейн внес значительный вклад в создание квантовой механики, развитие статистической физики и космологии. Ученый являлся членом многих академий наук, в том числе и иностранным членом АН СССР.
В 1921 году он стал лауреатом Нобелевской премии. </div>
<div><p><em>Вот некоторые из его цитат (по крайней мере в интернете эти фразы выдаются как его):</em></p>
<p>Брак — это попытка создать нечто прочное и долговременное из случайного эпизода.</p>
<p>Есть только две бесконечные вещи: Вселенная и глупость. Хотя насчет Вселенной я не вполне уверен.</p>
<p>Тот, кто хочет видеть результаты своего труда немедленно, должен идти в сапожники.</p></div>
</body>
</html>